#addButton{
	position: relative; /*So that z-index applies*/
	z-index: 2;
}
#cancelButton{
	position: relative; /*So that z-index applies*/
	z-index: 2;
}
#invalid_grade span{
    margin-top: 1em;
}
/*Adjust number selector location*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    margin-right: 1.5em; 
}
body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100vh;
}
#my_website p a{
    font-family: 'Architects Daughter', cursive;
    font-size: 1.6em;
}
#table_div {
    max-height: 72vh;
    overflow: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    background-color: #f5f5f5;
    background-color: rgba(155, 155, 155, 0.5);
}
#my_website {
    margin: 1.8em 0 -0.6em 0;
}
#contact div li a {
    font-size: 1.6em;
}
#contact div ul li{
    margin: 0 .5em 0 .5em;
    padding: 0;
}
a:visited {
    font-style: none;
}
a:hover {
    font-style: none;
    text-decoration: none;
    color: #4285F4;
    outline: 0 none;
    -webkit-transition: linear 200ms;
    -moz-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
    text-shadow: -3px 3px 8px #ffc, 3px -3px 8px #fff;
}
.btn-space {
    margin-left: 5px;
}
/* Sort */
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

@media (max-width: 991px) {
    #table_div {
        max-height: 47vh;
    }
}
@media (max-width: 500px) {
    #table_div {
        max-height: 40vh;
    }
    .footer {
        height: 80px;
        background-color: rgba(155, 155, 155, 0.75);
    }
    .footer .container div {
        display: inline-block;
        margin-left: 3em;
    }
    #my_website {
        margin-left: 4.5em;
    }
}
@media (max-width: 400px) {
    #table_div {
        max-height: 32vh;
    }
    .footer .container div {
        margin-left: 0.25em;
    }
    #my_website {
        margin-left: 0.5em;
    }
}