<!-- *********** 
Project Name: SGT v3.1
File Name: index.html
Author: Lance Takiguchi
Date: 10/10/16 Time:  15:53
Objective: Handle server errors
Prompt: 
 *********** -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
</head>
<body ng-app="sgt_app">
    <div ng-controller="app_controller as ac" class="container">
        <div class="row">
            <!-- only show this element when the isnt on mobile -->
            <h1 class="page-header col-md-12 visible-lg">Student Grade Table
                <small class="col-md-3 pull-right">Grade Average : <span class="avgGrade label label-default"> {{ac.get_grade_average()}} </span></small>
            </h1>
            <!-- only show this element when the user gets to a mobile version -->
            <h3 class="page-header col-sm-12 hidden-lg">Student Grade Table
                <small class="pull-gright col-sm-3">Grade Average : <span ng-model="grade_average" class="avgGrade label label-default"> {{ac.get_grade_average()}} </span></small>
            </h3>
        </div>
        <hr>
        <div ng-controller="form_controller as fc" class="col-md-3 student-add-form pull-right">
            <h4 class="input-group-header">Add Student</h4>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input ng-model="fc.input_name" type="text" class="form-control" name="studentName" id="studentName" placeholder="Student Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </span>
                    <input ng-model="fc.input_course" type="text" class="form-control" name="course" id="course"
                    placeholder="Student Course">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-education"></span>
                    </span>
                    <input ng-model="fc.input_grade" type="number" class="form-control" name="studentGrade" id="studentGrade"
                    placeholder="Student Grade">
                </div>
            </div>
            <div class="control-group">
                <button ng-click="fc.send_server()" id="addButton" type="button" class="btn btn-success" onclick="">Add Student</button>
                <button ng-click="fc.clear_inputs()" id="cancelButton" type="button" class="btn btn-default" onclick="">Cancel</button>
            </div>
            <div id="student_loading"></div>
            <div id="ux_display">
                <h3 id="ux_title">{{fc.display()}}</h3>
            </div>
        </div>
        <div  ng-controller="table_controller as tc" ng-init="tc.get_server_data()" class="student-list-container col-md-9">
            <table class="student-list table">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Student Course</th>
                        <th>Student Grade</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in tc.students">
                        <td>{{student.name}}</td>
                        <td>{{student.course}}</td>
                        <td>{{student.grade}}</td>
                        <td><button ng-click="tc.invoke_delete(student)" type='button' class='btn btn-danger' onclick=''>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

